#page-landing {
    width: 100vw;
    height: calc(100vh + 12rem);

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 13rem;
}

.light {
    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.dark {
    color: var(--color-primary-lighter);
    background: var(--color-primary-darker);
}

.logo-container img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 1.96rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    width: 4rem;
}

.buttons-container a.study-light{
    background-color: var(--color-primary-lighter);
}

.buttons-container a.study-dark{
    background-color: var(--color-primary);
}

.buttons-container a.give-classes {
    background-color: var(--color-secondary);
}

.buttons-container a.study-light:hover {
    background-color: var(--color-primary-light);
}

.buttons-container a.study-dark:hover {
    background-color: var(--color-primary-dark);
}

.buttons-container a.give-classes:hover {
    background-color: var(--color-secondary-dark);
}

.buttons-container a img {
    margin-right: 1rem;
}

.total-connections {
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

.theme-button {
    width: 16rem;
    height: 4.6rem;
    margin: 1.8rem auto;
    padding: 0.8rem;
    display: flex;
    border-radius: 8rem;
    align-items: center;
    justify-content:  space-between;
    cursor: pointer;
}

.button-light {
    border: 2px solid var(--color-primary-lighter);
    background-color: var(--color-background);
}

.button-dark {
    border: 2px solid var(--color-primary-darker);
    background-color: var(--color-input-background);
}

.theme-button p {
    color: var(--color-text-title);
    margin: 0 auto;
}

.theme-button img {
    width: 4.2rem;
    height: 4.2rem;
}

.button-light:hover {
    border: 2px solid var(--color-primary-darker);
    background-color: var(--color-background);
}

.button-dark:hover {
    border: 2px solid var(--color-primary-lighter);
    background-color: var(--color-input-background);
}

@media (min-width:1100px) {
    #page-landing-content {
        max-width: 1100px;

        padding-top: 0;

        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr  1fr 1fr;
        grid-template-areas:
            'logo hero hero'
            'buttons buttons total'
            'void void theme'
        ;
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .logo-container h2 {
        text-align: initial;
        font-size: 3.2rem;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
    }

    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
    }

    .buttons-container a img {
        margin-right: 2.4rem;
    }

    .total-connections {
        grid-area: total;
        justify-self: end;

        font-size: 1.42rem;
    }

    .theme-button {
        grid-area: theme;
        justify-self: end;
        margin: 0;
    }
}